out
out_main.*
out.*
string.o
string.d
.vscode/*
*.cc
*.d
*.o
*.hh
*.mf
/Extensions/mot_header.hh
!/Extensions/MotifMap.hh
/Misc/Applications/RNAmotiFold/motifs/__pycache__/
.clangd
compile_commands.json
.cache/